/.vs/Roxosoft.TestTask.Api/v16/TestStore/0/000-0000.testlog
/.vs/Roxosoft.TestTask.Api/v16/TestStore/0/testlog.manifest
/.vs/TestTasks/config/applicationhost.config
/.vs/TestTasks/DesignTimeBuild/.dtbcache
/.vs/TestTasks/v16/.suo
/.vs/TestTasks/v16/Server/sqlite3/db.lock
/.vs/TestTasks/v16/Server/sqlite3/storage.ide
/.vs/TestTasks/v16/Server/sqlite3/storage.ide-shm
/.vs/TestTasks/v16/Server/sqlite3/storage.ide-wal
/.vs/TestTasks/v16/TestStore/1/000-0000.testlog
/.vs/TestTasks/v16/TestStore/1/testlog.manifest
node_modules/
Danfoss.Contracts/obj/
Danfoss.Contracts/bin/
Danfoss.DataLayer/obj/
Danfoss.DataLayer/bin/
Danfoss.Entities/obj/
Danfoss.Entities/bin/
Danfoss.Services/obj/
Danfoss.Services/bin/
Danfoss.Web/obj/
Danfoss.Web/bin/